# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Exclude
/planofaction
indexdsrvm.html
index0.html
indexbkp.html
dsrvm-website.html
dsrvmltd.7z
/images/dsrvmltd-hero - Copy.png
/images/dsrvmltd-hero - Copy.png
/images/dsrvmltd-logo - Copy.png
/images/-dsrvmltdlogo - Copy.png
/images/dsrvmltd-logo-i - Copy.png



# iOS


# Android


# JSDoc
